set completion-ignore-case on
set show-all-if-ambiguous on

set editing-mode emacs
set menu-complete-display-prefix on
set echo-control-characters off

$if mode=vi
    set keymap vi-command
    Control-l: clear-screen

    set keymap vi-insert
    Control-l: clear-screen
$endif
