<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.bundled.osx</string>
	<key>darkthemeuid</key>
	<string>theme.fileimport.93CD3A36-CA47-47C5-B572-0902D49CFC32</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.72213E7C-0374-42FA-BDDA-E35731B58618</string>
</dict>
</plist>
